ALLOWED_HOSTS = {{ django_allowed_hosts|default([]) }}
ADMINS = {{ django_admins|default(()) }}
REGISTRATION_OPEN = {{ registration_open|default(False) }}
SOCIAL_AUTH_GOOGLE_OAUTH2_WHITELISTED_DOMAINS = {{oauth2_whitelisted_domains|default([])}}